.section6{
    
}
.body{
    margin-top: auto;
    width: fixed(1536px);
    height: hug(554px);
    background-color: white;
    border-radius: 16px;
    padding: 64px;
    gap: 32px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    text-align: center;     
}
.classno{
    width: 397px;
    height: 370px;
    margin-left: auto;
    margin-right: auto;
}
.name,
.phone, 
.topic, 
.email{
    width: fixed(240px);
    height: hug(40px);
    padding: 12px;
    border-radius: 4px;
    border-color: #111827;
    
}
.message{
    width: fixed(397px);
    height: hug(150px);
    padding: 12px 220px 90px 12px;
    margin-top: 20px;
    border-radius: 4px;
    border-color: #111827;
    margin-bottom: 35px;
}
.button{
    border: 0;
    border-radius: 4px;
    background-color:  blueviolet;
    color: white;
    width: 400px;
    height: 44px;
    margin-top: -500px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 36px;
}
.button:hover{
    background-color: lightgrey;
    color: #111827;
    width: 400px;
    height: 44px;
}
.classno{
    margin-left: auto;
    margin-right: auto;
    
}
.email{
    padding: 12px;
}
.email{
   float: left;
}
.name{
    float: right;
}
.phone{
    float:left;
}  
.topic{
    float: right;
}
.div_1{
    margin-bottom: 10px;
}
.div_2{
    padding-top: 60px;
}
