body {
    margin: 0;
}
.rootBox {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.mainBox {
    max-width: 1536px;
    border: 1px solid red;
    margin: 0 auto;
}

@font-face {
font-family: "FormularLight";
src: url("../formularLight/FormularLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}