body {
    margin: 0;
    background-color: #E5E7EB;
}
.rootBox {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.mainBox , .container {
    max-width: 1536px;
    margin: 0 auto;
}

@font-face {
font-family: "FormularLight";
src: url("../formularLight/FormularLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.